@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Wix+Madefor+Display&display=swap');


body {
    background-image: url("../images/iStock-1176728520.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
}

header a {
    text-decoration: none;
    color: inherit;
}

#title {
    font-size: 36px;
    color: rgb(255, 90, 90);
    text-shadow: 1px 1px 10px black;
}

nav {
    font-size: 26px;
    letter-spacing: 4px;
    word-spacing: 14px;

    margin-top: -35px;
}

nav a:hover {
    color: rgb(255, 90, 90);
}

#play-area {
    width: 450px;
    height: 70vh;
    box-sizing: content-box;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.693);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: auto;
    margin-right: auto;
    padding: 1%;

    perspective: 1000px;
}

#tally {
    text-align: center;
    width: 100%;
    height: 3%;
}

.card {
    object-fit: contain;
    color: white;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 24px;
    text-align: center;
    align-content: center;

    border-color: 3px solid rgb(150, 255, 150);
    background-color: rgb(255, 90, 90);
    border-radius: 10px;
    width: 80px;
    height: 80px;

    transform-style: preserve-3d;
    transition: transform .5s;
}

.card.flip {
    transform: rotateY(180deg);
    /*backface-visibility: hidden;*/
}

/* Rules page Styling*/

#rules {
    color: white;
    padding: 1%;
}

.rules-list li {
    margin-bottom: 15px;
}


/* Contact page styling */

.form {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

#contact-us {
    font-family: 'Mountains of Christmas', cursive;
    color: rgb(255, 90, 90);
    font-size: 48px;
    margin: 0;
    text-align: center;
}

#contact-paragraph {
    font-family: 'Wix Madefor Display', sans-serif;
    color: white;
    font-size: 16px;
    padding: 5% 5% 5% 10%;
    margin: 0;
}

#name {
    font-family: 'Wix Madefor Display', sans-serif;
    height: 35px;
    width: auto;
    padding-inline: 15px;
    box-shadow: 0px 4px 12px 2px white;
    border-radius: 100px;
    border: none;
    margin: 15px 0 45px 25px;
}

#email {
    font-family: 'Wix Madefor Display', sans-serif;
    height: 35px;
    width: auto;
    padding-inline: 15px;
    box-shadow: 0px 4px 12px 2px white;
    border: none;
    border-radius: 100px;
    margin: 15px 0 45px 0px;
}

#message {
    font-family: 'Wix Madefor Display', sans-serif;
    height: 175px;
    width: 350px;
    box-shadow: 0px 4px 12px 2px white;
    border-radius: 22.5px;
    border: none;
    padding: 3%;
}

#submit-btn {
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: rgb(255, 90, 90);
    color: white;
    border-radius: 100px;
    height: 35px;
    width: 350px;
    border: none;
    margin-top: 30px;
}

input:focus::selection {
    background-color: rgb(255, 90, 90);
}