@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

body {
    background-image: url("assets/images/iStock-1176728520.webp");
    background-size: cover;
    background-repeat: no-repeat;
    margin: -90px;
    padding: 0;
}

#title {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 56px;
    margin: 30px 0 0 0;
    color: red;
    text-shadow: 0 0 10px rgb(10, 10, 10);
}

nav {
    text-align: center;
    margin: -90px;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 24px;
    padding: 5px 5px 5px 5px;
    letter-spacing: 4px;
    word-spacing: 10px;
}

#play-area {
    background-color: #000000a4;
    box-sizing: border-box;
    width: 35%;
    height: 70vh;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding: 1%;
    padding-left: 80px;
    padding-right: 80px;
}

.cards {
    color: white;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 24px;
    text-align: center;
    align-content: center;

    background-color: red;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}