/*Importing fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Wix+Madefor+Display&display=swap');

/* Definig background image and styling*/
body {
    background-image: url("../images/background-img.webp");
    background-size: cover;
    padding: 0;
    margin: 0;
}

/* Styling heading and nav menu*/
header {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
}

header a {
    text-decoration: none;
    color: inherit;
}
/* Hover effect over links in the header element*/
header a:hover {
    text-decoration: none;
    color: #61b6a7;    
    text-shadow: 1px 1px 10px black;
}

#title {
    font-size: 36px;
    color: rgb(255, 90, 90);
    text-shadow: 1px 1px 10px black;
}

/* Defining and styling the nav bar*/
nav {
    font-size: 26px;
    letter-spacing: 4px;
    word-spacing: 14px;

    margin-top: -35px;
}
/* Hover effect over links in the navegation bar*/
nav a:hover {
    color: rgb(255, 90, 90);
}

/* Definig  and styling play area content and tally*/
#play-area {
    width: 450px;
    height: 70vh;
    box-sizing: content-box;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.693);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: auto;
    margin-right: auto;
    padding: 1%;

    perspective: 1000px;
}

#tally {
    font-family: 'Wix Madefor Display', sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    height: 5%;
    margin: 1em 0 0 0;
}

#correct-answered {
    margin-right: 5em;
}

#incorrect-answered {
    margin-right: 5em;
}

/* Definig cards styling*/
.card {
    cursor: pointer;
    object-fit: contain;
    color: white;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 24px;
    text-align: center;
    align-content: center;

    background-color: rgb(255, 90, 90);
    border-radius: 10px;
    width: 80px;
    height: 80px;

    /* 3d effect when card is flipped */
    transform-style: preserve-3d;
    transition: transform .5s;
}

/* Card flip effect*/
.card.flip {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Modal pop up styling */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.modal {
    padding: 1%;
    width: 500px;
    max-width: 80%;
    background: #61b6a7;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 5, .18);

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;

    display: flex;
    flex-direction: column;

    /*zoom in efect*/
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    padding: 2%;
}

.modal-header {
    width: 100%;
    word-spacing: 4px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

}


#question {
    text-align: left;
    margin: 0 50px 20px 0;
    color: white;
}

.countDownTimer {
    color: white;
    margin-bottom: 20px;
}

#answer-buttons {
    font-family: 'Wix Madefor Display', sans-serif;
    padding-top: 40px;
}

/* If answer is correc will change to this color*/
.correct {
    background: #9aeabc;
}

/* if answer is incorrect will change to this color*/
.incorrect {
    background: rgb(255, 90, 90);
}

.btn {
    cursor: pointer;
    height: 2rem;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 5, .18);
    border: none;
    border-radius: 100px;
    text-align: left;
    margin-bottom: 15px;
    transition: all 0.3s;

}

/* hover effect over the answers buttons*/
.btn:hover:not([disabled]) {
    background: #abd6df;
    color: white;
}

/* change cursor after one answer has been selected*/
.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    cursor: pointer;
    border-radius: 100px;
    border: none;
    background-color: #abd6df;
    box-shadow: 0px 3px 10px rgba(0, 0, 5, .18);
    font-size: 1.25rem;
    padding: 3%;
    margin-left: 40%;
    display: none;
}

.modal-body {
    padding: 10px 15px;
}

/* overley impemented to unable the user to click anything while moldar popup is active*/
#overlay {
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    visibility: hidden;

    /*transition effect for the overlay*/
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

/* Rules page Styling*/
#rules {
    color: white;
    padding: 1% 5% 1% 1%;
}

#rules-title {
    font-family: 'Mountains of Christmas', cursive;
    color: rgb(255, 90, 90);
    font-size: 48px;
    margin: 15px 0 0 0;
    text-align: center;
    word-spacing: 10px;
}

.rules-list {
    font-family: 'Wix Madefor Display', sans-serif;
    margin: 45px 0 0 0;
}

.rules-list li {
    margin-bottom: 15px;
}


/* Contact page styling */
.form {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

#contact-us {
    font-family: 'Mountains of Christmas', cursive;
    color: rgb(255, 90, 90);
    font-size: 48px;
    margin: 0;
    text-align: center;
}

#contact-paragraph {
    font-family: 'Wix Madefor Display', sans-serif;
    color: white;
    font-size: 16px;
    padding: 5% 5% 5% 10%;
    margin: 0;
}

#contact-icons{
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 50px;
}

#name {
    font-family: 'Wix Madefor Display', sans-serif;
    height: 35px;
    width: auto;
    padding-inline: 15px;
    border-radius: 100px;
    border: none;
    margin: 15px 0 45px 25px;
}

#email {
    font-family: 'Wix Madefor Display', sans-serif;
    height: 35px;
    width: auto;
    padding-inline: 15px;
    border: none;
    border-radius: 100px;
    margin: 15px 0 45px 0px;
}

#message {
    font-family: 'Wix Madefor Display', sans-serif;
    height: 175px;
    width: 350px;
    border-radius: 22.5px;
    border: none;
    padding: 3%;
}

#submit-btn {
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: rgb(255, 90, 90);
    color: white;
    border-radius: 100px;
    height: 35px;
    width: 350px;
    border: none;
    margin-top: 30px;
}

input:focus::selection {
    background-color: rgb(255, 90, 90);
}

@media (max-width: 374px) {
    body {
        margin: 0;
        padding: 0;
        background-size: contain;
    }

    #title h1 {
        margin: 0 0 0.67em 0;
    }


    #play-area {
        width: 80vw;
        height: 65vh;
    }

    .card {
        height: 50px;
        width: 50px;   
    }

    #tally {
        margin-bottom: 10px;
        text-align: center;
    }

    #correct-answered {
        margin-right: 2em;
        margin-bottom: 10px;
    }

    #incorrect-answered {
        margin-right: 2em;
    }
}
